/**
 * Manage wireframe blocks
 * @example
 * 		<div data-wf-block="important filled">
 **/

[data-wf-block] {
	@include wf-border;
	padding: $gutter-vertical $gutter-horizontal;
	margin-bottom: $gutter-vertical;
	position: relative;
	display: flex;
	flex-flow: column nowrap;
}


/**
* Block label
*/

[data-wf-label] {
	margin: auto auto; // centered horizontally and vertically
	padding: $gutter-vertical/2 $gutter-horizontal/2;
	background-color: white;
	font-weight: 600;
	text-align: center;
}


/**
* Take all the place
*/

[data-wf-block*="fill"] {
	width: 100%;
	height: 100%;
}


/**
* Put diagonals inside the block
*/

[data-wf-block*="crossed"] {
	@include background-crossed;
}


/**
* Make borders more visible
*/

[data-wf-block*="important"] {
	border: 1px solid $color-important;
	box-shadow: inset 0 0 0 1px $color-important;
}


/**
* Dark background
*/

[data-wf-block*="dark"] {
	background-color: $color-dark;
	border-color: $color-dark;
	[data-wf-label] {
		background-color: $color-dark;
		color: lighten($color-dark, 50%);
	}
}

[data-wf-block~="dark"][data-wf-block~="crossed"] {
	@include background-crossed(darken($color-dark, 30%));
}


/**
* Light background
*/

[data-wf-block*="light"] {
	background-color: $color-light;
	border-color: $color-light;
	[data-wf-label] {
		background-color: $color-light;
		color: lighten($color-light, 40%);
	}
}

[data-wf-block~="light"][data-wf-block~="crossed"] {
	@include background-crossed(darken($color-light, 30%));
}