/**
 * Media
 *
 * Module used to display different types of medias : images, videos, and such.
 *
 * By default, it is square and 100px wide
 * You can choose its width and aspect ratio with .wf-ratio--X and .wf-width--X
 *
 * @example
 *		<img src="images/ratio-16-9.png" width=100 class="wf-media wf-media--video wf-media--dark">
 */

[data-wf-media] {
	// By default, it is square and 158px wide
	background-image: url('../../src/images/media-image-dark.svg');
	background-position: center center;
	background-size: 60%;
	background-repeat: no-repeat;
	border: 1px solid $color-default;
	display: inline-block;
	vertical-align: baseline;
	width: 10rem; // 158px
	&:before {
		display: block;
		content: "";
		width: 100%;
		padding-top: 100%;
	}
	/**
	* Inside a figure
	*/
	figure & {
		margin-bottom: $gutter-vertical/2;
	}
}


/**
* Video media variant
*/

[data-wf-media^="video"] {
	background-image: url('../../src/images/media-video-dark.svg');
}


/**
* Dark media variant
*/

[data-wf-media^="dark"] {
	background-color: $color-dark;
	background-image: url('../../src/images/media-image-light.svg');
}

[data-wf-media^="dark video"] {
	background-image: url('../../src/images/media-video-light.svg');
}