@font-face {
  font-family: 'fontello';
  src: url('../../src/fonts/fontello.woff2?86954399') format('woff2'), url('../../src/fonts/fontello.woff?86954399') format('woff');
  font-weight: normal;
  font-style: normal;
}

[data-wf^="wf-icon--"]:before,
[data-wf*=" wf-icon--"]:before {
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  display: inline-block;
  font-family: "fontello";
  font-size: 1.5em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-weight: normal;
  margin-right: .2em;
  speak: none;
  text-align: center;
  text-decoration: inherit;
  width: 1em;
}

[data-wf="wf-icon--add"]:before {
  content: '\e800';
}

[data-wf="wf-icon--audio"]:before {
  content: '\e802';
}

[data-wf="wf-icon--calendar"]:before {
  content: '\e803';
}

[data-wf="wf-icon--camera"]:before {
  content: '\e804';
}

[data-wf="wf-icon--checkbox"]:before {
  content: '\e806';
}

[data-wf="wf-icon--close"]:before {
  content: '\e807';
}

[data-wf="wf-icon--cloud"]:before {
  content: '\e808';
}

[data-wf="wf-icon--comment"]:before {
  content: '\e809';
}

[data-wf="wf-icon--connect"]:before {
  content: '\e80a';
}

[data-wf="wf-icon--danger"]:before {
  content: '\e80b';
}

[data-wf="wf-icon--document"]:before {
  content: '\e80c';
}

[data-wf="wf-icon--document-view"]:before {
  content: '\e80d';
}

[data-wf="wf-icon--enlarge"]:before {
  content: '\e80e';
}

[data-wf="wf-icon--envelope"]:before {
  content: '\e80f';
}

[data-wf="wf-icon--globe"]:before {
  content: '\e810';
}

[data-wf="wf-icon--graph"]:before {
  content: '\e811';
}

[data-wf="wf-icon--help"]:before {
  content: '\e812';
}

[data-wf="wf-icon--home"]:before {
  content: '\e813';
}

[data-wf="wf-icon--info"]:before {
  content: '\e814';
}

[data-wf="wf-icon--marker"]:before {
  content: '\e815';
}

[data-wf="wf-icon--menu"]:before {
  content: '\e816';
}

[data-wf="wf-icon--mobile"]:before {
  content: '\e817';
}

[data-wf="wf-icon--pencil"]:before {
  content: '\e818';
}

[data-wf="wf-icon--play"]:before {
  content: '\e819';
}

[data-wf="wf-icon--printer"]:before {
  content: '\e81a';
}

[data-wf="wf-icon--refresh"]:before {
  content: '\e81b';
}

[data-wf="wf-icon--search"]:before {
  content: '\e81c';
}

[data-wf="wf-icon--settings"]:before {
  content: '\e81d';
}

[data-wf="wf-icon--time"]:before {
  content: '\e81e';
}

[data-wf="wf-icon--user"]:before {
  content: '\e81f';
}

[data-wf="wf-icon--users"]:before {
  content: '\e820';
}

[data-wf="wf-icon--view"]:before {
  content: '\e821';
}

[data-wf="wf-icon--view-list"]:before {
  content: '\e822';
}

[data-wf="wf-icon--view-thumbnail"]:before {
  content: '\e823';
}

[data-wf="wf-icon--arrows"]:before {
  content: '\e824';
}

[data-wf="wf-icon--chat"]:before {
  content: '\e825';
}

[data-wf="wf-icon--angle-bottom"]:before {
  content: '\e826';
}

[data-wf="wf-icon--angle-double-bottom"]:before {
  content: '\e827';
}

[data-wf="wf-icon--angle-double-left"]:before {
  content: '\e828';
}

[data-wf="wf-icon--angle-double-right"]:before {
  content: '\e829';
}

[data-wf="wf-icon--angle-double-top"]:before {
  content: '\e82a';
}

[data-wf="wf-icon--angle-left"]:before {
  content: '\e82b';
}

[data-wf="wf-icon--angle-right"]:before {
  content: '\e82c';
}

[data-wf="wf-icon--angle-top"]:before {
  content: '\e82d';
}

[data-wf="wf-icon--arrow-left"]:before {
  content: '\e82f';
}

[data-wf="wf-icon--arrow-right"]:before {
  content: '\e830';
}

[data-wf="wf-icon--arrow-top"]:before {
  content: '\e831';
}

[data-wf="wf-icon--deny"]:before {
  content: '\e832';
}

[data-wf="wf-icon--arrow-bottom"]:before {
  content: '\e833';
}