/**
 * Hide an element
 *
 * Does not use display: none; so you can have animations
 */

[data-wf="hidden"] {
	opacity: 0;
	overflow: hidden;
	width: 0;
	max-width: 0;
	height: 0;
	max-height: 0; //flex-basis: 0%;
	padding: 0;
	margin: 0;
	line-height: 0;
}


/**
 * Make a block level item's position relative
 */

[data-wf="relative"] {
	position: relative;
}


/**
 * Horizontal separator
 *
 * [FIXME] should this be in its own module ?
 *
 * @example
 *		<hr data-wf="separator">
 */

[data-wf="separator"] {
	border: 1px dotted $color-default;
	border-width: 1px 0 0;
	margin: $gutter-vertical*2 0;
}