/* Functional palette */

$color-default: hsl(219, 33%, 40%);
$color-external: hsl(180, 100%, 65%);
$color-text: $color-default;
$color-link: saturate($color-text, 25%);
$color-link-hover: saturate($color-link, 50%);
$color-important: darken($color-default, 33%);

/* Color palette */

$color-dark: $color-default;
$color-light: lighten($color-default, 50%);

/* Gutters */

$gutter-vertical: 1rem;
$gutter-horizontal: 1rem;

/* Fonts */

$font-size-base: 16px;
$font-family-base: 'kalam',
cursive; // stuff in the wireframe
$font-family-external: sans-serif; // stuff not belonging to the wireframe
$font-family-code: monospace; // technical stuff